<article class="am-g blog-entry-article">
    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
        <img src="assets/i/f10.jpg" alt="" class="am-u-sm-12">
    </div>
    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
        <span>article &nbsp;</span>
        <span> @<%= article.author %> &nbsp;</span>
        <span><%= article.created_at.strftime("%Y-%m-%d") %></span>
        <h1><a href="#"><%= article.title %></a></h1>
        <p><%= article.context %>
        </p>
        <p><a href="" class="blog-continue">continue reading</a></p>
    </div>
</article>