<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <%= link_to root_path do %>
    <div id="banner" class="am-u-sm-8 am-u-sm-centered">
        <img src="/assets/i/logo.png" alt="玩趣 Logo"/>
        <h2 class="am-hide-sm-only"></h2>
    </div>
    <% end %>
</header>