<hr>
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
<div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
        <?
            $categorys = ['首页','文章','时间线'];
            foreach($categorys as $category): 
        ?>
        <li class="am"><a href="#"><?= $category ?></a></li>
        <? endforeach;?>
            
    </ul>
</div>
</nav>
<hr>